/* Your button CSS file */
.btn-medium {
  background-color: white;
  color: rgba(183, 181, 181, 0.8);
  border: 1px solid rgba(203, 202, 202, 0.8);
  border-radius: 30px;
  margin-left: 10%;
  padding: 1% 2%;
  font-size: 90%;
  font-weight:500;
  display: inline-block
}

.btn-medium:hover {
  color: rgba(162, 161, 161);
  border: 1px solid rgb(162, 161, 161);
}

.btn-medium a:hover {
  color: rgba(204, 98, 139, 0.5);
}
