.footer {
  text-align: center;
  color: rgb(110, 105, 105);
  background-color: rgba(204, 98, 139, 0.2);
  padding: 2% 0;
}

.footer-icons {
  color: rgb(204, 98, 139);
  font-size: 32px;
}

.footer a {
  color: rgb(204, 98, 139);
}

.footer p {
  margin-left: 0;
  margin-right: 0;
}
